/* CSS declarations go here */
body, html {
	background-color: rgb(250,223,194);
	font-family: 'EB Garamond', serif;
	height:100%;
	width:100%;
	position:relative;


}
.leftUi {
	width:45%;
	height:100%;
	float:left;
	margin-right: 30px;
	margin-left: 10px;
	border-right: solid 1px #CCCCCC;
	padding-right:5px;
	display:none;
}
.roomDisplay{
	height:72%;
}
#eastwestimage {
	text-align: center;
}
#northexit, #southexit {
	text-align:center;
}
#westexit, #eastexit {
	margin-top:auto;
    margin-bottom:auto;
	display:inline;
}
.directionImage {
	height:30px;
	width:200px;
	text-align: center;
	vertical-align: middle;
}
.rightUi {
	width:45%;
	height:100%;
	float:left;
	margin-top:50px;
}
.mobclick, .itemclick {
	font-weight: 700;
	font-style:italic;
	/*color:blue; */
	cursor:default;
}
.welcome {
	position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 300px;
	height:100px;
}
.mobclick:hover, .itemclick:hover{
	/*background-color:yellow; */
	font-style: normal;
	font-weight:bold;
	opacity: 0.3;
}
.exits{
	display:none;
}
.eventDisplay{
	height:72%;
	overflow:scroll;
	overflow-x:hidden;

}
.dialogueResponse{
	display:none;
	border:solid 1px #CCCCCC;
	padding:10px;
	border-radius:10px;
	color:#949494;
}
.rclick, .itemclick {
	cursor:default;
}
.rclick:hover{
	color:black;
}
.roomTitle {
	font-weight: bold;
	text-align: center;
}
.roomDesc {
	height:70px;
}
.images {
	height:50px;
	width:50px;
    opacity: 0.4;
    filter: alpha(opacity=40); 
}
.selectedIcon {
	opacity: 1.0;
    filter: alpha(opacity=100); 
}
.images:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
.buttons {
	vertical-align: bottom;
}
.exitTrue {
	cursor:default;
	font-weight:bold;
}
.exitFalse {
	font-style:italic;
	cursor:default;
	color:#949494;
}
.buttons {
	text-align: center;
}