/* CSS declarations go here */
.mobclick {
	font-weight:bold;
	color:blue;
	cursor:default;
}
.welcome {
	position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 300px;
	height:100px;
}
.mobclick:hover{
	background-color:yellow;
}
.exits{
	display:none;
}
.eventDisplay{

	height:150px;
	overflow:scroll;
}
.dialogueResponse{
	display:none;
}
.rclick {
	cursor:default;
}
.rclick:hover{
	background-color:yellow;
}
.roomDesc {
	height:30px;
}
.exitTrue {
	cursor:default;
	color:#009933;
	font-weight:bold;
}
.exitFalse {
	font-style:italic;
	cursor:default;
}
.lineBreak {
	width: 95%;
	height:1px;
	background-color:#626262;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px;
	cursor:default;
}
#menu {
 background-color:#FFFFCC;
 border: 2px solid #6A6A6A;
 border-radius:5px;
 box-shadow:5px 5px 10px #474747;
 padding-top:5px;
 padding-bottom:5px;
 position:absolute;
 display:none;
 cursor:default;
}
.menuItem {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak, .menuItemCancel, .menuItemInspect {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak:hover, .menuItemCancel:hover, .menuItem:hover, .menuItemInspect:hover {
	background-color:#99CCFF;
}