/* CSS declarations go here */
.mobclick {
	font-weight:bold;
	color:blue;
	cursor:default;
}
.mobclick:hover{
	background-color:yellow;
}
.exits{
	position:fixed;
	top:30%;
	display:none;
}
.mobs {
	position:fixed;
	top:40%;
}
.eventDisplay{
	position:fixed;
	top:50%;
	height:100px;
	overflow:scroll;
}
.dialogueResponse{
	position:fixed;
	top:70%;
	display:none;
}
.rclick {
	cursor:default;
}
.rclick:hover{
	background-color:yellow;
}
.exits{
	position:fixed;
	top:30%;
}
.mobs {
	position:fixed;
	top:40%;
}
.eventDisplay{
	position:fixed;
	top:50%;
}
.dialogueResponse{
	position:fixed;
	top:70%;
}
.exitTrue {
	cursor:default;
	color:#009933;
	font-weight:bold;
}
.exitFalse {
	font-style:italic;
	cursor:default;
}
#menu {
 background-color:#FFFFCC;
 border: 2px solid #6A6A6A;
 border-radius:5px;
 box-shadow:5px 5px 10px #474747;
 padding-top:5px;
 padding-bottom:5px;
 position:absolute;
 display:none;
 cursor:default;
 z-index: 100;
}
.menuItem {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak:hover {
	background-color:#99CCFF;
}
.menuItemCancel {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemCancel:hover {
	background-color:#99CCFF;
}
.menuItem:hover {
	background-color:#99CCFF;
}
.lineBreak {
	width: 95%;
	height:1px;
	background-color:#626262;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px;
	cursor:default;
}
#menu {
 background-color:#FFFFCC;
 border: 2px solid #6A6A6A;
 border-radius:5px;
 box-shadow:5px 5px 10px #474747;
 padding-top:5px;
 padding-bottom:5px;
 position:absolute;
 display:none;
 cursor:default;
}
.menuItem {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemSpeak:hover {
	background-color:#99CCFF;
}
.menuItemCancel {
	padding-left:5px;
	padding-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:default;
}
.menuItemCancel:hover {
	background-color:#99CCFF;
}
.menuItem:hover {
	background-color:#99CCFF;
}
.lineBreak {
	width: 95%;
	height:1px;
	background-color:#626262;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px;
}